body {
	display: flex;
}

.flex {
	display: flex;
}

.flex-a {
	display: flex;
	align-items: center;
}

.flex-c {
	display: flex;
	flex-direction: column;
}

.flex-c-a {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.add-cart {
	margin-right: 20rpx;
	background-color: #cc9957;
}

.buy-goods {
	background-color: #db1b2d;
}
.btn-del {
	justify-content: center;
	width: 120rpx;
	height: 100%;
	background-color: red;
	border: 1px solid red;
	color: #fff;
	font-size: 12px;
}
.fff {
	background-color: #fff;
}
.love-title {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 94rpx;
	font-size: 16px;
}